body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color:whitesmoke;
  text-transform: uppercase;

}

.btn {
  border-color:bisque;
  background-color:#fff;
  color:black;
  border-radius: 300px;
  padding:1rem 2rem;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #000;
  border-color: whitesmoke;
}

hr {
  border-color:whitesmoke;
  width:60px;

}

.buffer {
  height:13rem;
}